# Backend .gitignore

# Virtual environment
venv/
.env/
venv*/
.env*/
*.venv
ENV/

# Django
*.sqlite3
*.pyc
__pycache__/
staticfiles/
media/
migrations/
.env
local_settings.py
db.sqlite3

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.bak
*.pid

# Coverage reports
.co